<% disable_select_date2 = false if disable_select_date2.blank? %>
<div>选择日期1 <%= calendar_date_select_tag "select_date1", Time.now.strftime("%Y-%m-%d"), :popup => "force", :clear_button => false %></div>
<% if disable_select_date2 == false %>
<div>选择日期2 <%= calendar_date_select_tag "select_date2", Time.now.strftime("%Y-%m-%d"), :popup => "force", :clear_button => false %></div>
<% end %>