<div>选择开始时间 <%= calendar_date_select_tag "select_date1", Time.now.strftime("%Y-%m-%d %H:00"), :popup => "force", :time => true %></div>
<div>选择结束时间 <%= calendar_date_select_tag "select_date2", Time.now.strftime("%Y-%m-%d %H:00"), :popup => "force", :time => true %></div>