<div>选择开始日期 <%= calendar_date_select_tag "select_date1", Time.now.strftime("%Y-%m-%d"), :popup => "force" %></div>
<div>选择结束日期 <%= calendar_date_select_tag "select_date2", Time.now.strftime("%Y-%m-%d"), :popup => "force" %></div>
<div>选择时间 <%= select_hour(Time.now, :field_name => "select_hour") %></div>